<main class="home-wraper">
    <header>
        <h1>Seu assistente</h1>
        <p>
            Aqui você consegue tirar todas as suas duvidas e aprender
            mais sobre o Museu de Doce de Pelotas!
        </p>
    </header>
    <section class="img-section">
        <icon-sparkle class="sparkle"></icon-sparkle>
        <img src="/assets/museu-home.png"/>
    </section>
    <button>
        Vamos conversar?
        <icon-arrow-right class="arrow-right"></icon-arrow-right>
    </button>
</main>